build
node_modules
.idea
.eslintcache
.env
.env.development
.env.production # used to emulate production environment, but the one used in production server is .env
coverage/
logs/*
*.key
*.key.pub
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
